main {
    padding: 20px;
}

#img_ouvidoria{
    width: 550px;
    border-radius: 10px;
}

#rodape{
    text-align: left;
    padding: 20px;
}

#rodape p {
    font-size: .9em;
    margin: 3px;    
}

#rodape p:first-child {
    font-size: 1.4em;
}
